<form method="post">
    <div>Username: <input type="text" name="username" value="<%= tUserTable.username %>"></div>
    <div>first_name: <input type="text" name="first_name" value="<%= tUserTable.first_name %>"></div>
    <div>last_name: <input type="text" name="last_name" value="<%= tUserTable.last_name %>"></div>
    <div>create_by: <input type="text" name="create_by" value="<%= tUserTable.create_by %>"></div>
    <div>create_date: <input type="text" name="create_date" value="<%= tUserTable.create_date %>"></div>
    <div>last_update_by: <input type="text" name="last_update_by" value="<%= tUserTable.last_update_by %>"></div>
    <div>last_update_date: <input type="text" name="last_update_date" value="<%= tUserTable.last_update_date %>"></div>
    <!-- <div>email: <input type="text" name="email" value="<%= tUserTable.email %>"></div> -->
 <!-- <label for="address">Address: </label>
<div>Province: <input type="text" name="username" value=""></div>
<div>Khet: <input type="text" name="account_name" value=""></div>
<div>Khwang: <input type="text" name="account_name" value=""></div> -->
    <button>Save</button>
    <input type="hidden" value="<%= tUserTable.userId %>">
</form>